@font-face {
    font-family: 'Orelega One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/OrelegaOneRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/PoppinsRegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/PoppinsLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/PoppinsRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/PoppinsBold.woff2') format('woff2');
}

